@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/*This is the start of the Hero Section CSS */
.hero, .footer{
    background-color: #1F2937;
    color:white;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between; 
    padding: 0px 200px
}

.title{
    display: flex;
    justify-content: space-around;
    margin: 0px 200px;
    height: 300px;
    gap: 50px;
}

#font-title{
    font-weight:bolder;
    font-size: 48px;
    margin: 0px
}

.left-header{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.right-header{
    display: flex;
    gap: 12px;
    font-size: 18px;
    color: #F9FAF8;
}

#logo{
    margin: 0px;
}

.secondary{
    font-size: 18px;
    color: #E5E7EB;
}

.right-title{
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: grey;
}


.left-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title > div {
    flex: 1;
}

button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    color: white;
    background-color: #3882F6;
}
/*This is where the Hero section of the CSS ends*/

/*This is the start of the Information Section CSS */
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.headline{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 35px 0px 35px 0px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #3882F6; 
}

.sub-text{
    width: 150px;
    font-size: 18px;
    text-align: center;
}
/*This is where the Information section of the CSS ends*/

/*This is the start of the Quote section*/
.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.qbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 730px;
    flex: 1 1 0
}

.qbox > p{
    margin: 0px;
}

#statement{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

#qauthor{
    align-self: flex-end;
}


/*This is where the Quote section of the CSS ends*/

/*This is the start of the Action section*/
.action{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-block{
    background-color: #3882F6;
    width: 1000px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.blue{
    margin: 0px;
}

.blue-block > button{
    border-color: #E5E7EB;
    border-style: solid;
}
/*This is where the Action section of the CSS ends*/

/*This is the start of the Footer section*/
.footer{
    justify-content: center;   
    align-items: center;
}
/*This is were the Footer section of the css ends*/