@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.hero{
    background-color: #1F2937;
    color:white;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between; 
    padding: 0px 48px
}

.title{
    display: flex;
    justify-content: space-around;
}

#font-title{
    font-weight:bolder;
    font-size: 48px;
}

.left-header{
    font-size: 24px;
    font-weight: bold;
}

.right-header{
    display: flex;
    gap: 12px;
    font-size: 18px;
    color: #F9FAF8;
}

#logo{
    margin: 0px;
}

#pretend{
    flex: auto;
    line-height: 200%;
    height:200px;
    background-color: grey;
    margin: 0px:
}

#secondary{
    font-size: 18px;
    color: #E5E7EB
}

.right-title{
    text-align: center;
    flex: 1 1 0;
}

.left-title{
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    color: white;
    background-color: #3882F6;
}
/*.title{
    display:flex;   
}*/